<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag 'devise', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
      <%= yield %>
  </body>
</html>
